[Unit]
Description=Todolist Backend

[Service]
Environment="DB_HOST={{ postgres_host }}"
Environment="DB_PORT={{ postgres_port }}"
Environment="DB_USER={{ postgres_user }}"
Environment="DB_PASSWORD={{ postgres_password }}"
Environment="DB_NAME={{ postgres_db }}"
ExecStart={{ backend_code_dir }}/todolist-backend
Restart=always
User=root
WorkingDirectory={{ backend_code_dir }}

[Install]
WantedBy=multi-user.target
