server {
    listen 3000;
    server_name {{ frontend_domain }};
    
    root {{ frontend_app_dir }}/build;
    index index.html;
    
    location / {
        try_files $uri $uri/ /index.html;
        expires -1;
        add_header Cache-Control "no-store, no-cache, must-revalidate";
    }

    location ~ /\. {
        deny all;
        return 404;
    }

    location /api {
        proxy_pass http://localhost:{{ backend_port }}/;
        proxy_set_header Host $host;
 }
}
